<!-- <h1>Chat con WebSockets</h1>
<div>
    <input id="chatBox" type="text">
</div>
<div>
    <p id="messageLogs"></p>
</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>
</head>
<body>
  <h1>Lista para usuarios</h1>
  
  {{#each users}}
    <div>
      <h2>Correo del usuario {{email}}</h2>
      <p>Precio: {{email}}</p>
    </div>
  {{/each}}
</body>
</html>
